find-number-ws/src/main/resources/findNumber.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:tns="http://myschema.org/bignumbers" targetNamespace="http://myschema.org/bignumbers">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
      targetNamespace="http://myschema.org/bignumbers">

      <xs:element name="number" type="xs:integer"/>

      <xs:element name="Result">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="code" type="tns:codeType"/>
            <xs:element name="fileNames" nillable="true">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="fileName" type="xs:string" minOccurs="0" maxOccurs="20"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="error" type="xs:string" nillable="true"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:simpleType name="codeType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="00"/>
          <xs:enumeration value="01"/>
          <xs:enumeration value="02"/>
        </xs:restriction>
      </xs:simpleType>

    </xs:schema>
  </wsdl:types>
  <wsdl:message name="FindNumberResponse">
    <wsdl:part element="tns:Result" name="ResultResponse"/>
  </wsdl:message>
  <wsdl:message name="FindNumberRequest">
    <wsdl:part element="tns:number" name="FindNumber"/>
  </wsdl:message>
  <wsdl:portType name="FindNumber_PortType">
    <wsdl:operation name="findNumber">
      <wsdl:input message="tns:FindNumberRequest"/>
      <wsdl:output message="tns:FindNumberResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FindNumberPortSoap11" type="tns:FindNumber_PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="findNumber">
      <soap:operation soapAction="findNumber"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FindNumberPortService">
    <wsdl:documentation>find number service</wsdl:documentation>
    <wsdl:port binding="tns:FindNumberPortSoap11" name="FindNumberPortSoap11">
      <soap:address location="http://localhost:8080/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>